# Claude Code internal directory
.claude/

# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk

# Copyrighted course/paper PDFs (do not publish)
CENG574_Introduction.pdf
CENG574_Spring25_Syllabus.pdf
